h1 {
    color: rgb(152, 183, 248);
  }
.city-box {
    width:100%;
    height:400px;
}
.city-style {
    font-family: arial;
    color: black;
    text-align: center
}
h5{
    font-family: Arial;
    text-align: center;
    color: burlywood;
}
#prague-photo{
    background-image: url("images/Prague.jpg");
    background-size: cover;
}
#bratislava-photo{
    background-image: url("images/bratislava.jpg");
    background-size: cover;
}
#budapest-photo{
    background-image: url("images/budapest.jpg");
    background-size: cover;
}
#warsaw-photo{
    background-image: url("images/warsaw.jpg");
    background-size: cover;
}